---
const today = new Date();
---

<footer>
  <div class="container">
    <div class="footer-copyright">
      &copy; {today.getFullYear()} DevsGoWhere. All rights reserved.
    </div>
  </div>
</footer>
<style>

  footer {
    padding-top: 4rem;
    padding-bottom: 10rem;
  }

  .footer-copyright {
    text-align: center;
    font-size: 0.8em;
    color: #565656;
  }

</style>
